* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-img-mobile {
    display: none;
}

.container-md {
    width: 70%;
    background-color: hsl(244, 38%, 16%);    
    background-image: url("images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
    position: relative;
}

.container-md::before {
    content: "";
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: hsla(277, 80%, 29%, 0.6);    
    border-radius: 0px 8px 8px 0px;
    position: absolute;
}

.col-first {
    margin: 60px;
    width: 50%;
}

.row-title {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

span {
    color: hsl(277, 64%, 61%);
}

.row-text {
    width: 90%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.row-info {
    width: 90%;
}

.row-info h2 {
    color:  hsl(0, 0%, 100%);
    font-size: 22px;
}

.row-info p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 11px;
    letter-spacing: 0.7px;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    text-decoration: none;
    color: hsl(277, 64%, 61%);
}

@media screen and (max-width: 435px) {
    .container-md::before {
        display: none;
    }

    body {
        padding-top: 20px;
        display: block;
        height: 100vh;
    }

    .container-md {
        width: 90%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        background-image: none;
        margin-bottom: 20px;
    }

    .container-md .row-img-mobile {
        display: block;
        padding: 0;
        height: 300px;
    }

    .container-md .row-img-mobile img {
        padding: 0;
        border-radius: 15px 15px 0 0;
        position: relative;
        height: 300px;
    }

    .container-md .row-img-mobile::after {
        content: "";
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        right: 0;
        background-color: hsla(277, 80%, 29%, 0.6); 
        position: absolute;
        border-radius: 15px 15px 0 0;
    }

    .row-main {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .col-first {
        width: 62%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .row-text {
        font-size: 11px;
    }

    .attribution {
        width: 80%;
        height: 2.5%;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        margin-left: 10%;
    }

}